S3method(dayte,Date)
S3method(dayte,POSIXct)
S3method(dayte,POSIXlt)
S3method(dayte,integer)
S3method(dayte,numeric)
S3method(dayte_time,Date)
S3method(dayte_time,POSIXct)
S3method(dayte_time,POSIXlt)
S3method(dayte_time,integer)
S3method(dayte_time,numeric)
S3method(save_plots,data.frame)
S3method(save_plots,jags_analysis)
S3method(save_tables,jags_analysis)
export(author_deck)
export(cleanup_date)
export(cleanup_datetime)
export(cleanup_time)
export(combine_date_time)
export(dayte)
export(dayte_time)
export(deck_to_web)
export(diel_period)
export(download_bch_data)
export(doy)
export(extract_date)
export(extract_datetime)
export(extract_time)
export(figures_report)
export(figures_web)
export(git_commit)
export(gwindow)
export(h)
export(ht)
export(images_web)
export(increment_version_number)
export(install_hd)
export(knit_figures)
export(knit_models)
export(knit_parameters)
export(knit_report)
export(load_analysis)
export(load_plot)
export(load_rdata)
export(load_table)
export(p)
export(palette_Golder)
export(palette_Poisson)
export(parent_dir)
export(perform_analyses)
export(ph)
export(pht)
export(plot_bch_data)
export(plot_residuals)
export(project_folder)
export(ps)
export(push_web)
export(read_cpc_data)
export(read_hobo_data)
export(read_zrxp)
export(read_zrxp_data)
export(report_to_web)
export(report_url)
export(repository_url)
export(resave_plots)
export(reset_dirs)
export(reset_folders)
export(s)
export(save_analysis)
export(save_plot)
export(save_plots)
export(save_rdata)
export(save_table)
export(save_tables)
export(set_folders)
export(slidify_deck)
export(sql_date)
export(sql_datetime)
export(sql_time)
export(standardise_datetime)
export(standardised_date_time)
export(theme_Golder)
export(theme_Poisson)
export(tidy_files)
export(upload_bch_data)
export(utc_offset)
export(working_dir)
export(write_bch_data)
import(RODBC)
import(assertthat)
import(devtools)
import(formatR)
import(ggplot2)
import(grid)
import(hashFunction)
import(jaggernaut)
import(knitr)
import(lubridate)
import(markdown)
import(pingr)
import(reshape2)
import(scales)
import(slidify)
import(stringr)
importFrom(plyr,.)
importFrom(plyr,ddply)
importFrom(plyr,rbind.fill)
