export(combine_date_time)
export(dayte_time)
export(dayte)
export(diel_period)
export(download_bch_data)
export(doy)
export(gwindow)
export(h)
export(ht)
export(load_analysis)
export(load_plot)
export(load_rdata)
export(load_table)
export(offset)
export(p)
export(palette_Golder)
export(palette_Poisson)
export(plot_bch_data)
export(plot_residuals)
export(read_cpc_data)
export(read_hobo_data)
export(read_zrxp_data)
export(read_zrxp)
export(resave_plots)
export(reset_dirs)
export(reset_folders)
export(s)
export(save_analysis)
export(save_plot)
export(save_plots)
export(save_rdata)
export(save_table)
export(save_tables)
export(theme_Golder)
export(theme_Poisson)
export(upload_bch_data)
S3method(dayte_time,Date)
S3method(dayte_time,integer)
S3method(dayte_time,numeric)
S3method(dayte_time,POSIXct)
S3method(dayte_time,POSIXlt)
S3method(dayte,Date)
S3method(dayte,integer)
S3method(dayte,numeric)
S3method(dayte,POSIXct)
S3method(dayte,POSIXlt)
S3method(save_plots,data.frame)
S3method(save_plots,jags_analysis)
S3method(save_tables,jags_analysis)
